/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    box-sizing: border-box;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    transition:all 0.3s;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
*:focus{
    outline: none;
}
body, html {
    background: #fbfbfb;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.app {
    background: #fbfbfb;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0px;
    overflow: hidden;
}

.title_bar {
    display: flex;
    justify-content: space-around;
}

.title_bar h1 {
    padding: 20px;
    font-size: 30pt;
    font-weight: bold;
    margin: 0px;
    overflow: visible;
    text-align: left;
    color: #6539ee;
    width: 70%;
}
.content {
    height: 85%;
    display: flex;
    flex-flow: row-reverse wrap;
    overflow: hidden;
    overflow-y: auto;
    padding: 15px 0px;
    position: relative;
    align-content: flex-start;
    background-image: linear-gradient(to top ,#fbfbfb,#e6e6e6,#e6e6e6, #fbfbfb);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}
.btn_add {
    background: #6539ee;
    color: #eeeeee;
    width: 12%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#limpar{
    position: absolute;
    top:10px;
    left:50%;
}
.btn_add img {
    height: 20px;
    width: auto;
}

.note {
    opacity: 0;
    padding: 20px 20px;
    width: 100%;
    color: #3c3848;
    margin: 30px 15px 0px 15px;
    position: relative;
    max-height: 70pt;
    overflow: hidden;
    transition: all 0.3s,-webkit-box-shadow 0s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    background: #ffffff;
    border-radius: 10px;
    background-image: url("../img/fundo.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.note::after {
    content: "";
    width: 100%;
    height: 23px;
    position: absolute;
    border: ;
    bottom: 0;
    left: 0;
}

.note.focus {
    opacity: 0;
    padding: 30px 15px 0px 15px;
    width: 100%;
    color: #3c3848;
    margin: 0;
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
    background: #fbfbfb;
    border-radius: 0;
    top: 0;
    left: 0;
    border-top: 3px solid #6539ee;
    background-image: url("../img/fundo2.png");
}

.focus .note_content {
    font-size: 14pt;
    text-align: justify;
    width: 91%;
    margin: 15px auto;
    height: 70%;
    overflow: hidden;
    overflow-y: auto;
}

.note .date {
    position: absolute;
    top: 10pt;
    right: 10px;
    color: #6539ee;
    font-size: 8pt;
    border-radius: 10pt;
    border: 1px solid #6539ee;
    padding: 1pt 5pt;
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.note_title {
  width: 100%;
  font-weight: bolder;
  margin: 0;
  font-size: 14pt;
}

.note::before {
    content: "";
    width: 15px;
    border-radius: 2px;
    display: block;
    margin-bottom: 10px;
    height: 2px;
    background: #6539ee;
}

.note_content {
    padding-left: 10px;
    color: #333b;
    font-size: 12pt;
    line-height: 20pt;
}

.note:not(.focus) .note_del{
    display: none;
}
.focus .note_del {
    background: transparent;
    color: #db4040;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #db4040;
    font-weight: lighter;
}

#popup_new_note {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    background: #f3f3f3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 3;
}

#popup_note_title {
    width: 90%;
    padding: 10px;
    font-size: 16pt;
    height: 24pt;
    border: none;
    background: transparent;
    border-bottom: 2px solid #6539ee;
    margin-top: 10%;
}
#popup_note_description {
    height: 70%;
    background: transparent;
    border: none;
    width: 90%;
    padding: 10px;
    font-size: 14pt;
    border: none;
}

.btn_save, .btn_cancel {
    height: 30pt;
    background: transparent;
    color: #6539ee;
    cursor: pointer;
    margin: 5px;
    width: 45%;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: forwards;
}